apiVersion: v1
kind: ResourceQuota
metadata:
  name: resource-quota
  namespace: dev
spec:
  hard:
    pods: "6"
    requests.cpu: "4"
    requests.memory: "4Gi"
    limits.cpu: "7"
    limits.memory: "7Gi"