apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  tolerations:
    - key: app
      value: not-m12
      operator: Equal
      effect: NoSchedule
  containers:
    - name: nginx
      image: nginx
      imagePullPolicy: IfNotPresent